.root{
    -fx-background-color: #10110e;
}
@font-face {
    font-family: "Nunito Medium";
    src: url("../Font/Nunito-Medium.ttf") format("truetype") local("sample");
}

/* Login Page, Registration Page, Update Health Data */
#Loginbutton{
	-fx-background-color: #f07a3a;
	-fx-text-fill: #ffffff;
	-fx-min-width: 20px;
	-fx-min-height: 20px;
	-fx-max-width: 200px;
	-fx-max-height: 150px;
	-fx-font-size: 15px;
}

#Main-Label{
	-fx-font-size:40px;
	-fx-font-family: "Nunito Medium";
} 

#ICON:hover{
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}
#ICON:pressed {
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}
#rectangle{
	-fx-fill: rgb(20, 24, 26);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
}
#tfREG{
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 350px;
	-fx-max-height: 350px;
}
#TBBB{
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 171.5px;
	-fx-max-height: 175px;
}
/* Dashboard */
#RecProfile{
	-fx-fill: #ae1d1d;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}
#RecButton{
	-fx-fill: #121210;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}

Button {
    -fx-background-color: transparent;
	-fx-text-fill: #fff;
	-fx-min-width: 20px;
	-fx-min-height: 20px;
	-fx-max-width: 200px;
	-fx-max-height: 150px;
	-fx-font-size: 20px;
    -fx-font-weight:bold;
}

TextField {
	-fx-min-width: 100px;
	-fx-min-height: 40px;
	-fx-max-width: 300px;
	-fx-max-height: 80px;
	-fx-font-size: 18px;
}
Label {
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
	-fx-font-family: "Nunito Medium";
}
#Pass{
    -fx-min-width: 100px;
	-fx-min-height: 40px;
	-fx-max-width: 300px;
	-fx-max-height: 80px;
	-fx-font-size: 18px;
}

/* linechart */
.chart-line-series {
    -fx-stroke: rgb(255, 115, 0);
}
.chart-plot-background {
    -fx-background-color: #121210;
}
#dashRectangle{
	-fx-fill:#0b0b0a;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}

PieChart{
	-fx-pie-label-visible: false;
}


.data0 {
    -fx-pie-color: #45cef0;
}
.data1 {
    -fx-pie-color: #073571;
}

#Recminum{
	-fx-background-color: #2b2b2a;
	-fx-text-fill: #fff;
	-fx-min-height:20;
	-fx-min-width:20;
	-fx-max-width: 80px;
	-fx-max-height:80px;
	-fx-font-size: 20px;
    -fx-font-weight:bold;
}
#Saran{
	-fx-font-size: 25px;
	-fx-background-color: #9e4241;
}
#SUM{
	-fx-fill: #1d1d1d;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}

#LabelSaran{
	-fx-font-size: 40px;
	-fx-font-weight:bold;	
}

#REC{
	-fx-fill: #de8820;
}